@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&family=K2D:wght@100&family=Teko:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
  scroll-behavior: smooth;
}
.header {
  z-index: 5;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0px 0 10px #979490;
}
.mobtext {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0 15px 0 0;
}
.mobilePhone {
  width: 50px;
  padding: 8px;
  display: inline;
  cursor: pointer;
}
.phonetext {
  display: inline;
  padding: 15px 0 0 0;
  color: #979490;
  font-weight: 200;
  font-size: 1.1rem;
  cursor: pointer;
}
/* navigation menu */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.nav-image {
  display: inline;
}
.navbarlogo {
  width: 300px;
}
/* hamburger menu using checkbox */
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  font-size: 32px;
  user-select: none;
}
.nav-link {
  display: flex;
  gap: 5em;
  font-size: 1.4rem;
  font-weight: 400;
}
.nav-link,
li,
a {
  color: #979490;
  text-decoration: none;
  list-style: none;
}
.nav-link a:hover {
  color: #02cd02;
  font-weight: bold;
  transition: all 0.1s ease 0s;
}
#agent-carousel {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #02cd02;
  padding-bottom: 30px;
}
.agentsection {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.agent-text {
  font-weight: bold;
  font-size: 3rem;
  padding: 50px 0 20px 0;
  background-color: #02cd02;
  color: #efefef;
}
.agent-description {
  font-size: 1.8rem;
  background-color: #02cd02;
  color: #efefef;
  padding: 0 15% 20px;
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02cd02;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  z-index: 100;
  background-color: #02cd02;
}
.swiper {
  width: 90%;
}
section .card .image {
  height: 418px;
  background: #02cd02;
}
section .card .image img {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.card .name-profession {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  color: #fffffe;
  background-color: #02cd02;
}
.name-profession .name {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  color: #fffffe;
  background-color: #02cd02;
}
section .card .about {
  font-size: 1.3rem;
  color: #fffffe;
  font-weight: 200;
  padding: 15px 8px;
  line-height: 1.8;
  text-align: center;
  background-color: #02cd02;
}
.social-media {
  display: flex;
  height: 40px;
  justify-content: center;
}
.facebook-link {
  background-color: #02cd02;
  width: 2.5rem;
  cursor: pointer;
}
.facebook_link_image{
  width: 100%;
}
.twitter-link {
  background-color: #02cd02;
  width: 2.5rem;
  cursor: pointer;
}
.twitter_link_image{
  height: 100%;
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 1;
  color: #fffffe;
  transition: all 0.3s ease;
  top: 700px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #fffffe;
}
.containerproperty {
  margin-top: 50px;
  display: flex;
  margin-left: 33%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* Bestseller property heading */
#building-properties {
  display: flex;
  flex-direction: column;
  background-color: #fffffe;
}
.propertysection {
  margin-top: 20px;
  display: block;
  text-align: center;
}
.bestseller-text {
  display: block;
  font-weight: bolder;
  font-size: 40px;
  padding: 1rem 0 1rem 0;
  color: #02cd02;
}
.bestseller-description {
  font-weight: 500;
  font-size: 1.8rem;
  padding: 20px 10%;
  text-align: center;
  color: #979490;
}
/* Property card images */
.property {
  width: 50%;
  padding: 0 45px 30px 0;
  margin-bottom: 2rem;
}
.property-image {
  background-color: black;
}
.seller-image {
  height: 580px;
  width: 100%;
}
.sellerimagefooter {
  color: #fffffe;
  padding: 15px;
  background-color: black;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: space-between;
}
.sellerimage-footer-text {
  background: black;
}
.seller-title {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 20px 0 0;
}
.seller-description {
  text-align: start;
}
.seller-price {
  color: #02cd02;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 20px 0 0;
}
.seller-description-text {
  margin: 20px 0;
  line-height: 2;
  color: #979490;
  font-weight: bold;
}
.description-footer {
  display: flex;
  align-items: flex-start;
}
.description-footer-shoppingbag {
  height: 30px;
  width: 30px;
  padding: 5px 0;
  margin-top: 5px;
  display: inline;
}
.shopping-cart-description {
  color: #979490;
  display: inline;
  padding: 10px;
  cursor: pointer;
}
/* footer */
.footer {
  position: relative;
  clear: both;
}
.footer-text {
  background-color: #efefef;
  padding: 10px 10px 20px 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.footer-text p {
  background-color: #efefef;
}
@media screen and (min-width: 2024px) {
  .top-nav {
    height: 80px;
  }
  .header {
    padding: 0 25%;
  }
  .mobtext {
    justify-content: center;
  }
  .top-nav {
    justify-content: space-evenly;
  }
  .agent-description {
    padding: 0 30%;
  }
  .swiper {
    width: 50%;
  }
  .section {
    margin: auto;
    padding: 0 20%;
    justify-content: center;
  }
  section .card .image {
    height: 400px;
  }
  .property {
    margin: 20px;
    padding: 0 12%;
  }
  .swiper-button-next {
    right: 15%;
  }
  .swiper-button-prev {
    left: 15%;
  }
  .bestseller-description {
    padding: 0 30%;
  }
}

@media screen and (max-width: 1030px) {
  .menu {
    padding: 0 -20px;
  }
  .nav-link {
    gap: 2em;
  }
  section .card .image {
    height: 300px;
  }
  .seller-image {
    height: 400px;
    width: 100%;
  }
  .sellerimagefooter {
    font-size: 0.8rem;
  }
  .agent-description {
    font-size: 1.4rem;
  }
  .bestseller-description {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 810px) {
  .agentsection {
    margin-bottom: 10px;
  }
  .navbarlogo {
    height: 50px;
    width: 250px;
  }
  .nav-link {
    display: none;
    position: absolute;
    background-color: #fffffe;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px 0;
    z-index: 5;
  }
  input[type="checkbox"]:checked ~ .nav-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 5;
  }
  .nav-link li {
    margin-bottom: 10px;
  }
  .nav-link a:hover {
    display: inline-block;
    color: #02cd02;
    transition: all 0.8s ease 0s;
  }
  .hamburger {
    display: block;
    padding: 0 5px;
    color: #02cd02;
    font-size: 30px;
  }
  .agent-description {
    font-size: 1.2rem;
  }
  .card {
    padding: 0 1% 2%;
  }
  section .card .image {
    height: 300px;
    padding: 0 6px;
  }
  section .card .about {
    font-size: 0.9rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 600px;
  }
  .bestseller-text {
    font-size: 2.2rem;
  }
  .bestseller-description {
    font-size: 1.5rem;
    font-weight: 300;
  }
  #building-properties {
    padding: 0 25px;
  }
  .sellerimagefooter {
    font-size: 1.1rem;
  }
  .containerproperty {
    display: block;
    margin: 0;
    padding: 0 5%;
  }
  .property {
    width: 100%;
    height: 30%;
    padding: 5% 12%;
  }
  .property-image {
    background-color: black;
  }
  .seller-image {
    height: 500px;
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .mobilePhone {
    width: 35px;
  }
  .phonetext {
    padding: 12px 0 0 0;
    font-weight: 100;
    font-size: 0.8rem;
  }
  .navbarlogo {
    width: 200px;
  }
  .card {
    padding: 0 5% 5%;
  }
  section .card .about {
    font-size: 1rem;
    font-weight: 400;
  }
  section .card .image {
    height: 250px;
    padding: 0 20px;
  }
  .card .card-content {
    padding: 0 10px;
  }
  .bestseller-text {
    font-size: 1.8rem;
  }
  .bestseller-description {
    font-size: 1rem;
    font-weight: 300;
  }
  .agent-text {
    font-size: 1.6rem;
  }
  .agent-description {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .property {
    width: 100%;
    height: 30%;
    padding: 10% 10%;
  }
  .property-image {
    background-color: black;
  }
  .seller-image {
    height: 380px;
    width: 100%;
  }
  .sellerimagefooter {
    font-size: 0.9rem;
    padding: 10px;
  }
}
@media screen and (max-width: 375px) {
  .swiper {
    width: 95%;
  }
  section .card .image {
    height: 250px;
  }
  .property {
    width: 100%;
    height: 30%;
    padding: 10% 5%;
    font-size: 0.9rem;
  }
  .seller-image {
    height: 350px;
    width: 100%;
  }
}
